name: CI
on: [push]
jobs:

  Build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      fail-fast: false
      
    steps:
    - name: Install GFortran Linux
      run: |
        sudo apt-get install -y gfortran
        sudo apt-get install libblas-dev liblapack-dev
    - name: checkout repo
      uses: actions/checkout@v3    
    - name: build application
      run: make 
